/*this is where Im putting all of the fonts*/
@font-face {
    font-family: 'default_Roboto';
    src: url(fonts/Roboto_Condensed-Bold.ttf);
}


body {
    /*this is where Im putting all the vars*/
    --text_color: rgb(208, 197, 223);
    --front_color: rgb(94, 92, 149);
    --shadow_color: rgb(22, 8, 53);
    --inner_color: rgb(47, 44, 98);

    --hover_color: rgb(160, 156, 216);
    --select_color: rgb(255, 255, 255);

    --background_color: rgb(46, 36, 73);


    background-color: var(--background_color);
    

}

#footer {
    font-family: 'default_Roboto';
    color: rgb(101, 87, 136);
    text-shadow: 0.5rem 1rem 2rem var(--shadow_color);

    transition: 1s;
}

#footer:hover {
    color: rgb(134, 112, 190);
    text-shadow: 0.1rem 0.1rem 1rem rgba(226, 222, 234, 0.453);
}

#header {
    font-family: 'default_Roboto';
    background-color: var(--front_color);

    border-radius: 20px;

    padding-left: 5%;
    padding-top: 0%;

    max-width: 50rem;
    margin-left: auto; margin-right: auto; margin-bottom: auto;

}

#header:hover {
    height: 102%;
}

.form {
    border-style: solid;
    border-color: var(--front_color);
    background-color: var(--front_color);
    box-shadow: 0.5rem 1rem 1.1rem var(--shadow_color);
    max-width: 50rem;
    margin-inline: auto;
    padding: 1rem;

    scale: 100%;
    border-radius: 1.2rem;
    font-family: 'default_Roboto';
    color: var(--text_color);
    transition: 0.2s;
}

.form-field {
    font-family: 'default_Roboto';
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

input {
    font-family: 'default_Roboto';
    background-color: var(--inner_color);
    border: 0;
    outline: 0;
    color: var(--text_color);
    
    border-radius: 5px;
    transition: 0.1s ease;
    padding: 0.5rem;

    scale: 100%;

    max-width: 5rem;
}

input:hover {
    outline: 3px solid var(--hover_color);
}

input:focus {
    outline: 3px solid var(--select_color);

    scale: 105%;
    box-shadow: 0.3rem 0.3rem 0.3rem var(--shadow_color);
    border-radius: 5px;
}